<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>76906825899-f43soeq86fadnenakbvq917m6uvbpic5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76906825899-f43soeq86fadnenakbvq917m6uvbpic5</string>
	<key>API_KEY</key>
	<string>AIzaSyD5k8vLQAHzZHKInARsqctoA1fm8lg_5Ps</string>
	<key>GCM_SENDER_ID</key>
	<string>76906825899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bailigabhanar.Guidebook</string>
	<key>PROJECT_ID</key>
	<string>guidebook-b2bae</string>
	<key>STORAGE_BUCKET</key>
	<string>guidebook-b2bae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:76906825899:ios:104d1db5899bbd8f</string>
	<key>DATABASE_URL</key>
	<string>https://guidebook-b2bae.firebaseio.com</string>
</dict>
</plist>